body {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.container {
  background: white;
  color: black;
  padding: 20px;
}

.header {
  display: flex;
  justify-content:center;
  margin-bottom: 10px;
}
.text {
  font-size: 20px;
  color: #3fa2a5;
  margin-top: 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input {
  display: flex;
  background: #EEEEEE;
  padding: 10px;
  gap: 10px;
}

.forgot-password {
  text-align: center;
  padding: 5px;
  color: #3fa2a5;
}

.forgot-password span {
  color: black;
  cursor: pointer;
}

.submit-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 10px;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3fa2a5;
  border-radius: 50px;
  color: white;
  font-size: 20px;
  width: 100px;
  height: 34px;
  cursor: pointer;
}

.gray {
  background: #3fa2a5;
  color: white;
}

.signUp, .signIn {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
  padding: 5px;
  border-radius: 50px;
  background: #EEEEEE;
  cursor: pointer;
}




